version: "3.9"

services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shop
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

  app:
    build: .
    restart: always
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://postgres:postgres0@db:5432/Shop"
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  db-data:
